@model IEnumerable<DOLPHIN.Model.CanBo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span class="badge bg-primary" style="font-size:20px ; margin-left:20px"><a href="/CanBo/Create">Thêm cán bộ mới</a></span>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Danh sách Cán bộ sở tài nguyên môi trường</h3>

        <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th class="text-center">
                        Mã cán bộ
                    </th>
                    <th class="text-center">
                        Tên cán bộ
                    </th>
                    <th class="text-center">
                        Đơn vị
                    </th>
                    <th class="text-center">
                        Địa chỉ
                    </th>
                    <th class="text-center">
                        Số điện thoại
                    </th>
                    <th class="text-center">
                        Trạng thái
                    </th>
                    <th class="text-center">
                        Thao tác
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.TenCanBo)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.DonVi)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.DiaChi)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.SoDienThoai)
                        </td>
                        <td class="text-center">
                            @if (item.TrangThai == 0)
                            {
                                <span class="badge bg-success">Làm việc</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Đã nghỉ việc</span>
                            }
                        </td>
                        <td class="text-center">
                            <span class="badge bg-warning"><a href="/CanBo/Edit/@item.Id">Sửa</a></span>
                            @if (item.TrangThai == 0)
                            {
                            <span class="badge bg-danger"><a href="/CanBo/Update/@item.Id">Xóa</a></span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Hiển thị: @Model.Count() bản ghi </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>